{% extends "base.html.twig" %} 

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
<div class="container">
<div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur SymBnB !</h1>
    <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent. en proposant leur biens à la location</p>
    <hr class="my-4">
    <p>Vous êtes voyageur? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
    </p>
  </div>
  <h2>nos appartements stars</h2>
  <div class="row mt-5">
      <div class="col-md-4">
          <div class="card bg-light mb-3">
              <div class="carte-header text-center">
                  3 chambres, <strong>49€ / nuit</strong>
                  <small>Pas encore noté</small>
                  <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style ="height: 200px; width: 100%; display: block">
                  <div class="card-body">
                      <h4 class="card-title">
                          Super appartement !
                      </h4>
                      <p class="card-text">
                          Ex laborum dolor anim magna ipsum veniam duis consequat sit. Id ullamco eiusmod irure officia culpa elit labore occaecat duis laborum ipsum proident. Qui ex deserunt nulla veniam occaecat nostrud enim mollit.

Irure nulla occaecat officia id. Pariatur voluptate laboris cupidatat velit. Minim et veniam est voluptate labore culpa amet occaecat irure duis nisi sunt magna. Eiusmod nulla qui consectetur eiusmod enim amet ipsum velit.
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card bg-light mb-3">
              <div class="carte-header text-center">
                  3 chambres, <strong>49€ / nuit</strong>
                  <small>Pas encore noté</small>
                  <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style ="height: 200px; width: 100%; display: block">
                  <div class="card-body">
                      <h4 class="card-title">
                          Super appartement !
                      </h4>
                      <p class="card-text">
                          Ex laborum dolor anim magna ipsum veniam duis consequat sit. Id ullamco eiusmod irure officia culpa elit labore occaecat duis laborum ipsum proident. Qui ex deserunt nulla veniam occaecat nostrud enim mollit.

Irure nulla occaecat officia id. Pariatur voluptate laboris cupidatat velit. Minim et veniam est voluptate labore culpa amet occaecat irure duis nisi sunt magna. Eiusmod nulla qui consectetur eiusmod enim amet ipsum velit.
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card bg-light mb-3">
              <div class="carte-header text-center">
                  3 chambres, <strong>49€ / nuit</strong>
                  <small>Pas encore noté</small>
                  <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style ="height: 200px; width: 100%; display: block">
                  <div class="card-body">
                      <h4 class="card-title">
                          Super appartement !
                      </h4>
                      <p class="card-text">
                          Ex laborum dolor anim magna ipsum veniam duis consequat sit. Id ullamco eiusmod irure officia culpa elit labore occaecat duis laborum ipsum proident. Qui ex deserunt nulla veniam occaecat nostrud enim mollit.

Irure nulla occaecat officia id. Pariatur voluptate laboris cupidatat velit. Minim et veniam est voluptate labore culpa amet occaecat irure duis nisi sunt magna. Eiusmod nulla qui consectetur eiusmod enim amet ipsum velit.
                      </p>
                      <a href="#" class="btn btn-secondary">En savoir plus</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <h2 class="h1 mt-3 mb-4">Nos propriétaires stars</h2>

  <div class="row">
      <div class="col">
          <div class="card border-secondary mb-3">
              <div class="card-body">
                  <h4 class="card-title">Jean-Renaud Dubois</h4>
                  <hr>
                  <div class="card-text">
                      <img src="http://placehold.it/64x64" alt="Avatar de Dubois Jean-Renaud" class="float-left mr-3">
                      <p>Deserunt aliquip occaecat deserunt consectetur magna ullamco culpa dolor mollit ullamco quis. Ea sit laboris culpa sit ea. Enim nulla nostrud officia laborum proident sint nostrud ex ipsum anim consequat consectetur deserunt. Et sit incididunt labore et nostrud anim adipisicing non cillum non non laborum cillum.

Reprehenderit id anim deserunt aliqua adipisicing eu labore ad aliqua enim. Irure fugiat culpa laboris et cillum cupidatat. Ipsum est ea sit voluptate dolore deserunt. Velit ad officia commodo amet non pariatur incididunt sunt voluptate. Sit nisi ad esse Lorem nostrud esse est laborum ad reprehenderit incididunt.</p>
                  <a href="#" class="btn btn-success float-right">En savoir plus!</a>
</div>
              </div>

          </div>
        </div>
      <div class="col">
          <div class="card border-secondary mb-3">
              <div class="card-body">
                  <h4 class="card-title">Jean-Renaud Dubois</h4>
                  <hr>
                  <div class="card-text">
                      <img src="http://placehold.it/64x64" alt="Avatar de Dubois Jean-Renaud" class="float-left mr-3">
                      <p>Deserunt aliquip occaecat deserunt consectetur magna ullamco culpa dolor mollit ullamco quis. Ea sit laboris culpa sit ea. Enim nulla nostrud officia laborum proident sint nostrud ex ipsum anim consequat consectetur deserunt. Et sit incididunt labore et nostrud anim adipisicing non cillum non non laborum cillum.

Reprehenderit id anim deserunt aliqua adipisicing eu labore ad aliqua enim. Irure fugiat culpa laboris et cillum cupidatat. Ipsum est ea sit voluptate dolore deserunt. Velit ad officia commodo amet non pariatur incididunt sunt voluptate. Sit nisi ad esse Lorem nostrud esse est laborum ad reprehenderit incididunt.</p>
                  <a href="#" class="btn btn-success float-right">En savoir plus!</a>
</div>
              </div>

          </div>
        </div>
       </div>
     
{% endblock %}



